scipy==1.12.0
plotly==5.23.0
dash[diskcache]==2.17.1
dash-extensions==1.0.18
plotly-resampler==0.11.0
openpyxl==3.1.5
XlsxWriter==3.2.0
pywebview==6.1
matplotlib==3.10.7
#packaging==21.3.0
#pyinstaller==6.16.0