scipy==1.12.0
plotly==5.23.0
dash[diskcache]==2.17.1
dash-extensions==1.0.18
plotly-resampler==0.11.0
openpyxl==3.1.5
XlsxWriter==3.2.0
pywebview==6.1
matplotlib==3.10.7
desktop-app-source-updater @ git+https://github.com/yzhaoinuw/desktop_app_source_updater.git@85bb68e42155ad8b661f669df8d281fbe683a045
#packaging==21.3.0
